### Importing dependencies

In [20]:
%matplotlib inline

In [21]:
import matplotlib.pyplot as plt
from matplotlib import cm

import numpy as np
import pandas as pd

from scipy.stats import linregress

### Reading the data

In [22]:
# Study data files
world_suicide_data_path = "Suicide_Data/master.csv"
continents_list_data_path = "Suicide_Data/continents.csv"

# Read the data and the study results
world_suicide_data = pd.read_csv(world_suicide_data_path)
continents_list_data = pd.read_csv(continents_list_data_path)

In [23]:
merged_df = world_suicide_data.merge(continents_list_data, on='country', how='left')
merged_df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation,Continent
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X,Europe
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent,Europe
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X,Europe
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation,Europe
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers,Europe

In [24]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27820 entries, 0 to 27819
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             27820 non-null  object
 1   year                27820 non-null  int64
 2   sex                 27820 non-null  object
 3   age                 27820 non-null  object
 4   suicides_no         27820 non-null  int64
 5   population          27820 non-null  int64
 6   suicides/100k pop   27820 non-null  float64
 7   country-year        27820 non-null  object
 8   HDI for year        8364 non-null   float64
 9    gdp_for_year ($)   27820 non-null  object
 10  gdp_per_capita ($)  27820 non-null  int64
 11  generation          27820 non-null  object
 12  Continent           27448 non-null  object
dtypes: float64(2), int64(4), object(7)
memory usage: 3.0+ MB

In [2]:
merged_df = merged_df.pop('Continent')
merged_df.head()

NameError: name 'merged_df' is not defined

   ### Studying the raw data files

In [6]:
world_suicide_data.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [7]:
continents_list_data.head()

         Country      Continent
0        Algeria         Africa
1         Angola         Africa
2          Aruba  South America
3          Benin         Africa
4  United States  North America

In [69]:
qc_data_gen_age = world_suicide_data.groupby(['generation','age'])['sex'].agg(['count'])
qc_data_gen_age.head(30)

                             count
generation      age
Boomers         25-34 years   1154
                35-54 years   3030
                55-74 years    806
G.I. Generation 55-74 years    630
                75+ years     2114
Generation X    15-24 years   2114
                25-34 years   2682
                35-54 years    982
                5-14 years     630
Generation Z    5-14 years    1470
Millenials      15-24 years   2528
                25-34 years    806
                5-14 years    2510
Silent          35-54 years    630
                55-74 years   3206
                75+ years     2528

In [70]:
world_suicide_data_usa = world_suicide_data.loc[world_suicide_data['country'] == "United States"]
qc_data_gen_age_v2 = world_suicide_data_usa.groupby(['country','generation','age'])['sex'].agg(['count'])
qc_data_gen_age_v2.head(20)

                                           count
country       generation      age
United States Boomers         25-34 years     20
                              35-54 years     38
                              55-74 years     10
              G.I. Generation 55-74 years     12
                              75+ years       32
              Generation X    15-24 years     32
                              25-34 years     32
                              35-54 years     12
                              5-14 years      12
              Generation Z    5-14 years      18
              Millenials      15-24 years     30
                              25-34 years     10
                              5-14 years      32
              Silent          35-54 years     12
                              55-74 years     40
                              75+ years       30

In [79]:
# Chart  of global suicide rate by year

global_suicide_yearly = world_suicide_data.groupby('year')['suicides_no'].agg(['count'])
global_suicide_yearly.reset_index()

# global_suicide_yearly[year]


ax = global_suicide_yearly.plot.bar(y='suicides_no', rot=0)
plt.show()

KeyError: 'suicides_no'

In [72]:
continents_list_data.head()

         Country      Continent
0        Algeria         Africa
1         Angola         Africa
2          Aruba  South America
3          Benin         Africa
4  United States  North America

In [73]:
world_suicide_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             27820 non-null  object
 1   year                27820 non-null  int64
 2   sex                 27820 non-null  object
 3   age                 27820 non-null  object
 4   suicides_no         27820 non-null  int64
 5   population          27820 non-null  int64
 6   suicides/100k pop   27820 non-null  float64
 7   country-year        27820 non-null  object
 8   HDI for year        8364 non-null   float64
 9    gdp_for_year ($)   27820 non-null  object
 10  gdp_per_capita ($)  27820 non-null  int64
 11  generation          27820 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

In [74]:
world_suicide_data.describe()

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
count,27820.000000,27820.000000,2.782000e+04,27820.000000,8364.000000,27820.000000
mean,2001.258375,242.574407,1.844794e+06,12.816097,0.776601,16866.464414
std,8.469055,902.047917,3.911779e+06,18.961511,0.093367,18887.576472
min,1985.000000,0.000000,2.780000e+02,0.000000,0.483000,251.000000
25%,1995.000000,3.000000,9.749850e+04,0.920000,0.713000,3447.000000
50%,2002.000000,25.000000,4.301500e+05,5.990000,0.779000,9372.000000
75%,2008.000000,131.000000,1.486143e+06,16.620000,0.855000,24874.000000
max,2016.000000,22338.000000,4.380521e+07,224.970000,0.944000,126352.000000

In [75]:
gender_analysis = world_suicide_data.groupby('sex').count()
gender_analysis

,country,year,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
sex,,,,,,,,,,,
female,13910,13910,13910,13910,13910,13910,13910,4182,13910,13910,13910
male,13910,13910,13910,13910,13910,13910,13910,4182,13910,13910,13910

In [76]:
gender_suicide_analysis = world_suicide_data.groupby('sex')['suicides_no'].sum()
gender_suicide_analysis

sex
female    1559510
male      5188910
Name: suicides_no, dtype: int64

In [28]:
gender_suicide_analysis = world_suicide_data.groupby('sex')['suicides_no'].agg(['sum'])
gender_suicide_analysis

            sum
sex
female  1559510
male    5188910

In [29]:
generation_suicide_analysis = world_suicide_data.groupby(['sex','generation'])['suicides_no'].agg(['sum'])
generation_suicide_analysis

                            sum
sex    generation
female Boomers           460968
       G.I. Generation   176653
       Generation X      309839
       Generation Z        6141
       Millenials        133620
       Silent            472289
male   Boomers          1823530
       G.I. Generation   333356
       Generation X     1222965
       Generation Z        9765
       Millenials        489839
       Silent           1309455

In [19]:
ax = gender_suicide_analysis.plot.bar(y='suicides_no', rot=0)

KeyError: 'suicides_no'

In [ ]:
ax = gender_suicide_analysis.plot.bar(y='suicides/100k pop', rot=0)