### Importing dependencies

In [1]:
import matplotlib.pyplot as plt
from matplotlib import cm
import csv
import numpy as np
import pandas as pd

from scipy.stats import linregress

### Reading the data

In [2]:
# Study data files
world_suicide_data_path = "Suicide_Data/master.csv"

continent_path = "Suicide_Data/continents.csv"
# Read the data and the study results
world_suicide_data = pd.read_csv(world_suicide_data_path)
continent_data=pd.read_csv(continent_path)

   ### Studying the raw data files

In [3]:
continent_data.head()

         country      continent
0        Algeria         Africa
1         Angola         Africa
2          Aruba  South America
3          Benin         Africa
4  United States  North America

In [4]:
world_suicide_data.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [5]:
world_suicide_df=world_suicide_data.merge(continent_data, on="country", how="inner" )
world_suicide_df.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation', 'continent'],
      dtype='object')

In [6]:
world_suicide_df=world_suicide_df[[ 'continent','country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation']]
world_suicide_df.head()

,continent,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Europe,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Europe,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Europe,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Europe,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Europe,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [7]:
dseries=world_suicide_df["year"].value_counts()
dseries

2009    1056
2001    1044
2010    1044
2007    1020
2011    1020
2002    1020
2003    1020
2000    1020
2006    1008
2008    1008
2005     996
2004     996
1999     984
2012     960
2013     948
1998     936
2014     924
1995     924
1996     912
1997     912
1994     804
1992     768
1993     768
1990     756
1991     756
2015     732
1987     636
1989     612
1988     576
1986     564
1985     564
2016     160
Name: year, dtype: int64

In [8]:
ds=world_suicide_df["country"].value_counts()
print(ds)

Netherlands               382
Mauritius                 382
Iceland                   382
Austria                   382
Ecuador                   372
                         ...
Bosnia and Herzegovina     24
Macau                      12
Cabo Verde                 12
Dominica                   12
Mongolia                   10
Name: country, Length: 100, dtype: int64